<div>
    <label class="form-label">name</label>
    <input type="text" class="form-control" name="createName" id="createName" />
    <label class="form-label">ip</label>
    <input type="text" name="ip" id="ip" />
    <button type="button" id="createBtn">등록</button>
</div>

<script>
    const createBtn = document.querySelector("#createBtn");

    createBtn.addEventListener("click", function() {
        const form = {
            name: document.querySelector("#createName").value,
            ip: document.querySelector("#ip").value
        };
        const url = "/api/host/"
        fetch(url, {
            method: "post",
            body: JSON.stringify(form),
            headers: {
                "Content-Type": "application/json",
            }
        }).then(response => {
            if(!response.ok) {
                throw new Error("에러가 발생했습니다.");
            }
            console.log(form.name);
            document.querySelector("#createName").value="";
            document.querySelector("#ip").value="";
            alert("등록에 성공했습니다.");
        })
        .catch(() => {
            document.querySelector("#createName").value="";
            document.querySelector("#ip").value="";
            return alert("중복된 값이 존재합니다.");
        })
      });
</script>